@import "_globals.scss";

header {
  background: url("../assets/header_half.jpg") no-repeat center;
  text-transform: uppercase;
  text-align: center;
  min-height: 476px;
  img {
    max-height: 46px;
  }
  .header-txt-wrap {
    margin-top: 60px;
    margin-left: 30px;
    text-align: left;
  }
  input {
  }
}

section {
  text-transform: uppercase;
  div {
    text-align: center;
  }
}

input {
  background-color: $primary-color-green;
}

.mobile-bg2 {
  background: url("../assets/players_769.jpg") no-repeat center;
  //background-position: top -60px;
  min-height: 433px;
}

@media only screen and (min-width: 769px) {
  header {
    min-height: 715px;
    background-image: url("../assets/header.jpg");
    .header-txt-wrap {
      margin-left: 135px;
      margin-top: 143px;
      text-align: left;
    }
    h4.nav-link {
      display: none;
    }
    img {
      max-height: 97px;
    }
    input {
      width: 270px;
      height: 60px;
    }
  }
  .mobile-bg2 {
    display: none;
  }
}
