@import "_globals.scss";

header {
  background: url("../assets/hero_image_360.jpg") no-repeat center;
  background-size: cover;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  min-height: 476px;
  img {
    max-height: 46px;
  }
  h2 {
    font-size: 13px;
    font-weight: 700;
  }
}

.header-txt-wrap {
  margin-top: 60px;
  margin-left: 30px;
  text-align: left;
  input {
    height: 60px;
    border-radius: 0px;
    padding: 20px;
    min-width: 300px;
    font-weight: 800;
  }
  p {
    &:nth-child(3) {
      font-size: 61px;
    }
    &:nth-child(4) {
      font-size: 14px;
    }
  }
}

.mobile-bg2 {
  background: url("../assets/players_769.jpg") no-repeat center;
  background-size: cover;
  min-height: 325px;
  position: relative;
  top: -10px;
}

h5 {
  font-weight: 800;
  font-size: 10px;
  color: white;
  background-color: $secondary-color-darkblue;
  width: 90px;
  height: 19px;
  margin-left: 20px;

  // -webkit-transform: skew(-30deg);
  // -moz-transform: skew(-30deg);
  // -o-transform: skew(-30deg);
  // transform: skew(-30deg); make trapezoid aka Parallelogram - mayby better use img as bg
}
.informations {
  padding: 55px 39px 0 39px;
  background: url("../assets/bramka-2.jpg") no-repeat top;
  > p:first-of-type {
    text-transform: none;
    text-align: justify;
    line-height: 20px;
    padding-bottom: 65px;
  }
  div {
    div {
      text-align: left;
      margin-left: 65px;
      margin-bottom: 60px;
      p {
        margin-bottom: 0;
      }
      p,
      span {
        color: $primary-color-green;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
      }
      .big-txt {
        font-weight: 800;
        font-size: 48px;
        line-height: 130%;
        color: $secondary-color-darkblue;
      }
    }
  }
}

.centered-img {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.costs {
  text-align: center;
  background: url("../assets/price_image_2.jpg") no-repeat center;
  h5 {
    padding-top: 55px;
  }
  ul {
    margin: 0 auto;
    width: 50%;
    li {
      ::marker {
      }
    }
  }
}

section {
  text-transform: uppercase;
  div {
    text-align: center;
  }
}

input {
  background-color: $primary-color-green;
}

@media only screen and (min-width: 769px) {
  header {
    min-height: 715px;
    background-image: url("../assets/header.jpg");
    .header-txt-wrap {
      margin-left: 135px;
      margin-top: 143px;
      text-align: left;
    }
    h4.nav-link {
      display: none;
    }
    img {
      max-height: 97px;
    }
    input {
      width: 270px;
      height: 60px;
    }
  }
  .mobile-bg2 {
    display: none;
  }
}
