@import "_globals.scss";

header {
  background: url("../assets/hero_image_360.jpg") no-repeat center;
  background-size: cover;
  text-transform: uppercase;
  text-align: center;
  min-height: 428px;
  img {
    max-height: 46px;
  }
  .header-txt-wrap {
    margin-top: 60px;
    margin-left: 30px;
    text-align: left;
  }
}
.mobile-bg2 {
  background: url("../assets/players_769.jpg") no-repeat center;
  background-size: cover;
  min-height: 325px;
  position: relative;
  top: -10px;
}

.centered-img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.costs {
  text-align: center;
  background: url("../assets/price_image_2.jpg") no-repeat center;

  h5 {
    padding-top: 55px;
  }
  ul {
    margin: 0 auto;
    width: 50%;
    li {
      ::marker {
      }
    }
  }
}

section {
  text-transform: uppercase;
  div {
    text-align: center;
  }
}

input {
  background-color: $primary-color-green;
}

@media only screen and (min-width: 769px) {
  header {
    min-height: 715px;
    background-image: url("../assets/header.jpg");
    .header-txt-wrap {
      margin-left: 135px;
      margin-top: 143px;
      text-align: left;
    }
    h4.nav-link {
      display: none;
    }
    img {
      max-height: 97px;
    }
    input {
      width: 270px;
      height: 60px;
    }
  }
  .mobile-bg2 {
    display: none;
  }
}
